<section id="main">
            <div class="container clearfix">
              <div id="primary" role="main" class="twelve columns">
                <article id="post-92" class="post-92 post type-post status-publish format-status hentry category-custom-format category-general tag-mystery tag-status clearfix with-entry-wrap">
                  <div class="entry-wrap">
                    <header class="entry-header">
                      <div class="post-format-icon"></div>
                      <time class="entry-date" datetime="2011-10-18T20:45:20+00:00" pubdate="pubdate" title="October 18, 2011">
                      Oct 18			</time>
                    </header>
                    <div class="entry-content">
                      <p>What would happen if I hired two private investigators to follow each other? <a href="https://twitter.com/#!/search/%23mystery" title="I am going to link this to http://search.twitter.com">#mystery</a></p>
                    </div>
                    <!--//entry-content-->
                    <footer class="entry-meta">
                      <span class="post-comment-link"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/status-post/#comments" title="Comment on Status Post">7 Responses</a></span>	
                      <span class="post-tags"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/mystery/" rel="tag">#mystery</a>, <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/status/" rel="tag">#status</a></span>
                      <span class="post-permalink"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/status-post/" title="Permalink to Status Post" rel="bookmark">Permalink</a></span>	
                    </footer>
                  </div>
                  <!--//entry-wrap-->		
                </article>
                <!--//post-->
                <article id="post-94" class="post-94 post type-post status-publish format-video hentry category-custom-format tag-video tag-winning clearfix with-entry-wrap">
                  <div class="entry-wrap">
                    <header class="entry-header">
                      <h2 class="entry-title"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/up-and-coming-artists/" title="Permalink to Up and Coming Artists" rel="bookmark">Up and Coming Artists</a></h2>
                      <div class="post-format-icon"></div>
                      <time class="entry-date" datetime="2011-10-18T20:43:45+00:00" pubdate="pubdate" title="October 18, 2011">
                      Oct 18			</time>
                    </header>
                    <div class="entry-content">
                      <p>Quisque vitae ipsum at elit sagittis blandit. Morbi sed nisi sit amet enim luctus commodo vel at risus. Nam at enim lacus. In et ultricies lacus. Integer ac turpis id libero tincidunt laoreet vel in metus.</p>
                      <p>
                        <!-- Embed Container -->
                      <div class='embed-container'><iframe src="http://player.vimeo.com/video/5484650?theme=none&#038;wmode=opaque" width="500" height="288" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                      <!--//end embed-container--></p>
                      <p><em>No plugin needed, simply wrap any popular video URL in the WordPress Embed code, eg: [<span>embed</span>]http://vimeo.com/5484650.[/<span>embed</span>] code and you&#8217;re set, it even resizes with the theme!</em></p>
                    </div>
                    <!--//entry-content-->
                    <footer class="entry-meta">
                      <span class="post-comment-link"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/up-and-coming-artists/#comments" title="Comment on Up and Coming Artists">5 Responses</a></span>	
                      <span class="post-tags"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/video/" rel="tag">#video</a>, <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/winning/" rel="tag">#winning</a></span>
                      <span class="post-permalink"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/up-and-coming-artists/" title="Permalink to Up and Coming Artists" rel="bookmark">Permalink</a></span>	
                    </footer>
                  </div>
                  <!--//entry-wrap-->
                </article>
                <!--//post-->
                <article id="post-90" class="post-90 post type-post status-publish format-chat hentry category-custom-format category-general tag-chat tag-winning clearfix with-entry-wrap">
                  <div class="entry-wrap">
                    <header class="entry-header">
                      <h2 class="entry-title"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/the-package-seinfeld/" title="Permalink to The Package (Seinfeld)" rel="bookmark">The Package (Seinfeld)</a></h2>
                      <div class="post-format-icon"></div>
                      <time class="entry-date" datetime="2011-10-18T20:40:36+00:00" pubdate="pubdate" title="October 18, 2011">
                      Oct 18			</time>
                    </header>
                    <div class="entry-content">
                      <p><strong>Kramer:</strong> It&#8217;s a write-off for them. </p>
                      <p><strong>Jerry:</strong> How is it a write-off? </p>
                      <p><strong>Kramer:</strong> They just write it off. </p>
                      <p><strong>Jerry:</strong> You don&#8217;t even know what a write-off is. </p>
                      <p><strong>Kramer:</strong> Do you? </p>
                      <p><strong>Jerry:</strong> No, I don&#8217;t. </p>
                      <p><strong>Kramer:</strong> But they do, and they&#8217;re the ones writing it off. </p>
                    </div>
                    <!--//entry-content-->
                    <footer class="entry-meta">
                      <span class="post-comment-link"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/the-package-seinfeld/#comments" title="Comment on The Package (Seinfeld)">3 Responses</a></span>	
                      <span class="post-tags"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/chat/" rel="tag">#chat</a>, <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/winning/" rel="tag">#winning</a></span>
                      <span class="post-permalink"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/the-package-seinfeld/" title="Permalink to The Package (Seinfeld)" rel="bookmark">Permalink</a></span>	
                    </footer>
                  </div>
                  <!--//entry-wrap-->
                </article>
                <!--//post-->
                <article id="post-77" class="post-77 post type-post status-publish format-gallery hentry category-custom-format tag-gallery tag-winning clearfix with-entry-wrap">
                  <div class='featured-image'>
                    <a href='http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/our-trip-to-dublin/'>
                    <img src='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/uploads/2011/10/2150289706_97f57da8d4_b-700x466.jpg' alt='Our Trip to Dublin' />
                    </a>
                  </div>
                  <div class="entry-wrap">
                    <header class="entry-header">
                      <h2 class="entry-title"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/our-trip-to-dublin/" title="Permalink to Our Trip to Dublin" rel="bookmark">Our Trip to Dublin</a></h2>
                      <div class="post-format-icon"></div>
                      <time class="entry-date" datetime="2011-10-18T20:36:55+00:00" pubdate="pubdate" title="October 18, 2011">
                      Oct 18			</time>
                    </header>
                    <div class="entry-content">
                      <p> <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/our-trip-to-dublin/" class="more-link">See the 8 photos in my gallery from Dublin!</a></p>
                    </div>
                    <!--//entry-content-->
                    <footer class="entry-meta">
                      <span class="post-comment-link"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/our-trip-to-dublin/#respond" title="Comment on Our Trip to Dublin">0 Responses</a></span>	
                      <span class="post-tags"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/gallery/" rel="tag">#gallery</a>, <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/winning/" rel="tag">#winning</a></span>
                      <span class="post-permalink"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/our-trip-to-dublin/" title="Permalink to Our Trip to Dublin" rel="bookmark">Permalink</a></span>	
                    </footer>
                  </div>
                  <!--//entry-wrap-->
                </article>
                <!--//post-->
                <article id="post-75" class="post-75 post type-post status-publish format-link hentry category-custom-format tag-hungry tag-link clearfix with-entry-wrap">
                  <div class="entry-wrap">
                    <header class="entry-header">
                      <h2 class="entry-title">
                        <a href='http://www.google.com/search?q=101+ways+to+make+a+hamburger' title='Visit: http://www.google.com/search?q=101+ways+to+make+a+hamburger'>101 Ways to Make a Hamburger</a>			
                      </h2>
                      <div class="post-format-icon"></div>
                      <time class="entry-date" datetime="2011-10-18T20:34:15+00:00" pubdate="pubdate" title="October 18, 2011">
                      Oct 18			</time>
                    </header>
                    <div class="entry-content">
                      <p><a href="http://www.google.com/search?q=101+ways+to+make+a+hamburger">Read the original article here</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam nulla nec diam euismod sit amet tempor augue ullamcorper. Nullam ut nunc nunc. Nulla lacus purus, sodales vel rhoncus a, aliquam a nunc. Suspendisse pharetra sapien at dui tempus pellentesque. Nam ut felis a neque sagittis cursus</p>
                    </div>
                    <!--//entry-content-->
                    <footer class="entry-meta">
                      <span class="post-comment-link"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/101-ways-to-make-a-hamburger/#comments" title="Comment on 101 Ways to Make a Hamburger">3 Responses</a></span>	
                      <span class="post-tags"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/hungry/" rel="tag">#hungry</a>, <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/link/" rel="tag">#link</a></span>
                      <span class="post-permalink"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/101-ways-to-make-a-hamburger/" title="Permalink to 101 Ways to Make a Hamburger" rel="bookmark">Permalink</a></span>	
                    </footer>
                  </div>
                  <!--//entry-wrap-->
                </article>
                <!--//post-->
                <article id="post-73" class="post-73 post type-post status-publish format-quote hentry category-custom-format category-general tag-quote tag-wisdom clearfix with-entry-wrap">
                  <div class="entry-wrap">
                    <header class="entry-header">
                      <div class="post-format-icon"></div>
                      <time class="entry-date" datetime="2011-10-18T20:32:48+00:00" pubdate="pubdate" title="October 18, 2011">
                      Oct 18			</time>
                    </header>
                    <div class="entry-content">
                      <blockquote>
                        <p>Be not afraid of greatness: some are born great, some achieve greatness, and some have greatness thrust upon them.</p>
                      </blockquote>
                      <p><cite>&mdash; William Shakespeare</cite></p>
                    </div>
                    <!--//entry-content-->
                    <footer class="entry-meta">
                      <span class="post-comment-link"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/william-shakespeare/#respond" title="Comment on William Shakespeare">0 Responses</a></span>	
                      <span class="post-tags"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/quote/" rel="tag">#quote</a>, <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/wisdom/" rel="tag">#wisdom</a></span>
                      <span class="post-permalink"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/william-shakespeare/" title="Permalink to William Shakespeare" rel="bookmark">Permalink</a></span>	
                    </footer>
                  </div>
                  <!--//entry-wrap-->
                </article>
                <!--//post-->
                <article id="post-70" class="post-70 post type-post status-publish format-image hentry category-custom-format tag-image clearfix with-entry-wrap">
                  <div class='featured-image'>
                    <a href='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/uploads/2011/10/229835382_ac97c7e383_b.jpg'>
                    <img src='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/uploads/2011/10/229835382_ac97c7e383_b-700x466.jpg' alt='Album Preview' />
                    </a>
                  </div>
                  <div class="entry-wrap">
                    <header class="entry-header">
                      <h2 class="entry-title"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/album-preview/" title="Permalink to Album Preview" rel="bookmark">Album Preview</a></h2>
                      <div class="post-format-icon"></div>
                      <time class="entry-date" datetime="2011-10-18T20:15:01+00:00" pubdate="pubdate" title="October 18, 2011">
                      Oct 18			</time>
                    </header>
                    <div class="entry-content">
                    </div>
                    <!--//entry-content-->
                    <footer class="entry-meta">
                      <span class="post-comment-link"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/album-preview/#respond" title="Comment on Album Preview">0 Responses</a></span>	
                      <span class="post-tags"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/image/" rel="tag">#image</a></span>
                      <span class="post-permalink"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/album-preview/" title="Permalink to Album Preview" rel="bookmark">Permalink</a></span>	
                    </footer>
                  </div>
                  <!--//entry-wrap-->
                </article>
                <!--//post-->
                <article id="post-67" class="post-67 post type-post status-publish format-audio hentry category-custom-format tag-audio clearfix with-entry-wrap">
                  <div class="entry-wrap">
                    <header class="entry-header">
                      <h2 class="entry-title"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/podcast-interview-with-matt-mullenweg/" title="Permalink to Podcast: Interview with Ma.tt" rel="bookmark">Podcast: Interview with Ma.tt</a></h2>
                      <div class="post-format-icon"></div>
                      <time class="entry-date" datetime="2011-10-18T20:13:04+00:00" pubdate="pubdate" title="October 18, 2011">
                      Oct 18			</time>
                    </header>
                    <div class="entry-content">
                      <p class="audioplayer_container"><span style="display:block;padding:5px;border:1px solid #dddddd;background:#f8f8f8" id="audioplayer_1">Audio clip: Adobe Flash Player (version 9 or above) is required to play this audio clip. Download the latest version <a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash&amp;promoid=BIOW" title="Download Adobe Flash Player">here</a>. You also need to have JavaScript enabled in your browser.</span></p>
                      <p>Episode #23 of our podcast featuring Matt Mullenweg.  <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/podcast-interview-with-matt-mullenweg/" class="more-link">Read the transcript here.</a></p>
                    </div>
                    <!--//entry-content-->
                    <footer class="entry-meta">
                      <span class="post-comment-link"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/podcast-interview-with-matt-mullenweg/#respond" title="Comment on Podcast: Interview with Ma.tt">0 Responses</a></span>	
                      <span class="post-tags"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/audio/" rel="tag">#audio</a></span>
                      <span class="post-permalink"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/podcast-interview-with-matt-mullenweg/" title="Permalink to Podcast: Interview with Ma.tt" rel="bookmark">Permalink</a></span>	
                    </footer>
                  </div>
                  <!--//entry-wrap-->	
                </article>
                <!--//post-->
                <article id="post-63" class="post-63 post type-post status-publish format-aside hentry category-custom-format category-general tag-aside tag-winning clearfix with-entry-wrap">
                  <div class="entry-wrap">
                    <header class="entry-header">
                      <div class="post-format-icon"></div>
                      <time class="entry-date" datetime="2011-10-18T20:10:59+00:00" pubdate="pubdate" title="October 18, 2011">
                      Oct 18			</time>
                    </header>
                    <div class="entry-content">
                      <p><strong>This is an aside post format.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies, odio sit amet molestie dapibus, lorem nisi lacinia lacus, a commodo felis odio at ipsum. Integer nec tortor mi, ac molestie nunc.  <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/aside-post/" class="more-link">See what happens next&#8230;</a></p>
                    </div>
                    <!--//entry-content-->
                    <footer class="entry-meta">
                      <span class="post-comment-link"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/aside-post/#respond" title="Comment on Aside Post">0 Responses</a></span>	
                      <span class="post-tags"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/aside/" rel="tag">#aside</a>, <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/winning/" rel="tag">#winning</a></span>
                      <span class="post-permalink"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/aside-post/" title="Permalink to Aside Post" rel="bookmark">Permalink</a></span>	
                    </footer>
                  </div>
                  <!--//entry-wrap-->
                </article>
                <!--//post-->
                <article id="post-59" class="post-59 post type-post status-publish format-standard hentry category-general tag-standard tag-winning clearfix with-entry-wrap">
                  <div class="entry-wrap">
                    <header class="entry-header">
                      <h2 class="entry-title"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/standard-post-type/" title="Permalink to Standard Post Type" rel="bookmark">Standard Post Type</a></h2>
                      <div class="post-format-icon"></div>
                      <time class="entry-date" datetime="2011-10-18T20:06:48+00:00" pubdate="pubdate" title="October 18, 2011">
                      Oct 18			</time>
                    </header>
                    <div class="entry-content">
                      <p><strong>This is a standard post format.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies, odio sit amet molestie dapibus, lorem nisi lacinia lacus, a commodo felis odio at ipsum. Integer nec tortor mi, ac molestie nunc.</p>
                      <p> <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/standard-post-type/" class="more-link">Read the rest of the post&#8230;</a></p>
                    </div>
                    <!--//entry-content-->
                    <footer class="entry-meta">
                      <span class="post-comment-link"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/standard-post-type/#respond" title="Comment on Standard Post Type">0 Responses</a></span>	
                      <span class="post-tags"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/standard/" rel="tag">#standard</a>, <a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/tag/winning/" rel="tag">#winning</a></span>
                      <span class="post-permalink"><a href="http://curtziegler.com/sitedemo/pixelpower/wordpress/2011/10/standard-post-type/" title="Permalink to Standard Post Type" rel="bookmark">Permalink</a></span>	
                    </footer>
                  </div>
                  <!--//entry-wrap-->
                </article>
                <!--//post-->
                <div class='clear'></div>
                <div class='post-pagination'>
                  <span class='page-numbers current'>1</span>
                  <a class='page-numbers' href='http://curtziegler.com/sitedemo/pixelpower/wordpress/page/2/'>2</a>
                  <a class='page-numbers' href='http://curtziegler.com/sitedemo/pixelpower/wordpress/page/3/'>3</a>
                  <a class="next page-numbers" href="http://curtziegler.com/sitedemo/pixelpower/wordpress/page/2/">Next</a>&nbsp;<a href="#" id="scroll-top" class="right" title='Scroll to top'>Scroll to top</a>	
                </div>
                <!--//post-navigaiton-->			    				    
              </div>
              <!--//columns-->
              <div id="secondary" role="complementary" class="four columns">
                <!-- Source: sidebar.php -->
                <div id="cudazi_biowidget-3" class="widget widget_cudazi_biowidget">
                  <div class="bio-photo-wrap">
                    <a href="http://cudazi.com/">					<img src="http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/uploads/2011/10/2678659699_7630c0eced_b-e1318955049487.jpg" alt="PixelPower" />				</a>			
                  </div>
                  <div class="bio-description-wrap clearfix">
                    <div class="bio-description">
                      A custom bio widget is included, share a little about yourself or just use your logo if you're shy. :)					
                    </div>
                    <ul class='bio-social-links'>
                      <li><a href='#sample-url' title='Vimeo Videos'><img src='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/themes/pixelpower/images/social_icons/picons13.png' alt='Vimeo Videos' /></a></li>
                      <li><a href='#sample-url' title='YouTube Channel'><img src='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/themes/pixelpower/images/social_icons/picons18.png' alt='YouTube Channel' /></a></li>
                      <li><a href='#sample-url' title='Linkedin'><img src='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/themes/pixelpower/images/social_icons/picons11.png' alt='Linkedin' /></a></li>
                      <li><a href='#sample-url' title='HTML5'><img src='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/themes/pixelpower/images/social_icons/picons10.png' alt='HTML5' /></a></li>
                      <li><a href='#your-flickr-url' title='Flickr Photos'><img src='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/themes/pixelpower/images/social_icons/picons04.png' alt='Flickr Photos' /></a></li>
                      <li><a href='#sample-url' title='Chat on Skype'><img src='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/themes/pixelpower/images/social_icons/picons07.png' alt='Chat on Skype' /></a></li>
                      <li><a href='http://dribbble.com/cudazi' title='Latest shots on Dribbble'><img src='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/themes/pixelpower/images/social_icons/picons02.png' alt='Latest shots on Dribbble' /></a></li>
                      <li><a href='http://twitter.com/cudazi' title='Follow me on Twitter'><img src='http://curtziegler.com/sitedemo/pixelpower/wordpress/wp-content/themes/pixelpower/images/social_icons/picons03.png' alt='Follow me on Twitter' /></a></li>
                    </ul>
                  </div>
                </div>
                <div id="search-3" class="widget widget_search">
                  <!-- Source: searchform.php -->
                  <form action="http://curtziegler.com/sitedemo/pixelpower/wordpress/" method="get" class="clearfix" id="searchform">
                    <input type="text" name="s" id="s" size="15" value="" />
                    <input type="submit" title="Search PixelPower" id="searchsubmit" placeholder="Search" value="GO" />
                  </form>
                </div>
                <div id="text-5" class="widget widget_text">
                  <h3 class="widgettitle">Full Featured!</h3>
                  <div class="textwidget">
                    <p>HTML5, CSS3, Responsive Design all coming together to make you look your best.</p>
                  </div>
                </div>
              </div>
              <!--//columns-->
            </div>
            <!--//container-->
          </section>